.heros{
    margin-bottom: 24px;
}

.hero-item{
    width: 100%;
    border-radius: 4px;
    box-shadow: #00000033 0px 0px 5px;
    background-color: var(--color-light);
    padding: 12px 16px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 400ms;
}

.hero-item:hover{
    transform: translateY(-5px);
}

.hero-label{
    padding-left: 16px;
    padding-right: 12px;
}

.hero-label p{
    font-family: var(--font-family-primary);
    margin: 0;
    font-size: 12px;
    margin-bottom: 9px;
    color: var(--color-secondary);
}

.label__series, .label__events{
    display: none;
}

.hero-header{
    display: flex;
    align-items: center;
}

.hero-header .header__photo{
    width: 48px;
    height: 48px;
    margin-right: 24px;
    display: block;
    border-radius: 4px;
}

.hero-header h2{
    font-family: var(--font-family-primary);
    font-size: 14px;
    color: var(--color-primary);
    margin: 0;
}

.hero__series, .hero__events{
    display: none;
}

.hero-item.is-disabled{
    display: none;
}

footer{
    margin-top: auto;
    height: 79px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
}

@media (min-width: 768px){
    .hero-item{
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .hero-label{
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .label__series{
        display: block;
    }

    .hero-header h2{
        font-size: 16px;
    }

    .hero__series{
        display: block;
    }

    .hero__series p, .hero__events p{
        font-family: var(--font-family-primary);
        font-size: 14px;
        color: var(--color-primary);
        margin: 0;
    }
}

@media (min-width:1200px){
    .hero-item{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content-wrapper .container{
        padding-left: 113px;
        padding-right: 113px;
    }

    .hero__events{
        display: block;
    }

    .label__events{
        display: block;
    }

    .hero-label{
        grid-template-columns: 1fr 1fr 1fr;
    }
}