html {
  --font-family-primary: 'PT Sans', sans-serif;
  --font-family-secondary: 'PT Sans Caption', sans-serif;
  --color-primary: #555555;
  --color-secondary: #8E8E8E;
  --color-tertiary: #F5F5F5;
  --color-light: #ffff;
  --color-quartenary: #167ABC;
  --color-background: #E5E5E5;
}

.container{
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width:1200px){
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
}


@keyframes wave {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(10px)
  }

  100% {
      transform: translateY(0px)
  }
}