@import "./project-configs.css";
@import "./header.css";
@import "./page-content.css";
@import "./modal.css";

*,
*::after,
*::before {
	box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: var(--color-background);
}